{{!> Twitter sharer }}
<a class="oak-button oak-button-social oak-twitter ion-social-twitter-outline" target="_blank" title="Share this on Twitter" href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"></a>

{{!> Facebook sharer }}
<a class="oak-button oak-button-social oak-facebook ion-social-facebook-outline" target="_blank" title="Share this on Facebook" href="http://www.facebook.com/sharer.php?u={{url absolute="true"}}"></a>

{{!> Google Plus sharer }}
<a class="oak-button oak-button-social oak-google-plus ion-social-googleplus-outline" target="_blank" title="Share this on Google Plus" href="https://plus.google.com/share?url={{url absolute="true"}}"></a>